In [2]:
# Import necessary libraries
import pandas as pd
import numpy as np
import sqlite3
import zipfile
import os

In [ ]:
#Unzip the zipped database file!

#Path to your zip file
zip_path = './Data/dsc-phase-2-project-v3-main.zip'

#Extract to a specific directory (optional)
extract_path = './unzipped'

#Create the directory if it doesn't exist
if not os.path.exists(extract_path):
    os.makedirs(extract_path)

#Unzip the file
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

print("Unzipping complete. Database file extracted to:", extract_path)

Unzipping complete. Database file extracted to: ./unzipped

In [4]:
#Unzip the zipped database file!

#Path to your zip file
zip_path = './unzipped/dsc-phase-2-project-v3-main/zippedData/im.db.zip'

#Extract to a specific directory (optional)
extract_path = './imdb'

#Create the directory if it doesn't exist
if not os.path.exists(extract_path):
    os.makedirs(extract_path)

#Unzip the file
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

print("Unzipping complete. Database file extracted to:", extract_path)

Unzipping complete. Database file extracted to: ./imdb

In [2]:
# Path to the zipped folder inside another folder
zip_file_path = 'Data/data_grp_1/zippedData/im.db.zip'

# Open the zipped folder and read the .db file
with ZipFile(zip_file_path, 'r') as z:
    with z.open('im.db') as db_file:  # Replace 'im.db' with the exact name if needed
        # Connect to the SQLite database using the in-memory method
        conn = sqlite3.connect('file:memdb1?mode=memory&cache=shared', uri=True)
        with open('im_temp.db', 'wb') as temp_db:
            temp_db.write(db_file.read())
            conn = sqlite3.connect('im_temp.db')
       
        # Query the database (replace 'your_table_name' with the actual table name)
        query = "SELECT * FROM movie_akas"
        df = pd.read_sql_query(query, conn)

        # Close the connection
        conn.close()

# Display the DataFrame
df.head(20)

,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,None,None,0.0
1,tt0369610,11,Jurashikku warudo,JP,None,imdbDisplay,None,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,None,imdbDisplay,None,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,None,None,short title,0.0
4,tt0369610,14,Jurassic World,FR,None,imdbDisplay,None,0.0
5,tt0369610,15,Jurassic World,GR,None,imdbDisplay,None,0.0
6,tt0369610,16,Jurassic World,IT,None,imdbDisplay,None,0.0
7,tt0369610,17,Jurski svijet,HR,None,imdbDisplay,None,0.0
8,tt0369610,18,Olam ha'Yura,IL,he,imdbDisplay,None,0.0
9,tt0369610,19,Jurassic World: Mundo Jurásico,MX,None,imdbDisplay,None,0.0
10,tt0369610,1,Jurassic World: Sauruste maailm,EE,None,imdbDisplay,None,0.0
11,tt0369610,20,Jurassic World,SE,None,imdbDisplay,None,0.0
12,tt0369610,21,Jurassic World 3D,US,None,None,3-D version,0.0
13,tt0369610,22,Jurassic World 3D,DE,None,None,3-D version,0.0
14,tt0369610,23,Jurassic World 3D,XWW,None,None,3-D version,0.0
15,tt0369610,24,Juras laikmeta pasaule,LV,None,imdbDisplay,None,0.0
16,tt0369610,25,Mundo Jurássico,PT,None,imdbDisplay,None,0.0
17,tt0369610,26,Мир Юрского периода,RU,None,None,None,0.0
18,tt0369610,27,Jurský svět,CZ,None,None,None,0.0
19,tt0369610,28,Monde jurassique,CA,fr,imdbDisplay,None,0.0

In [4]:
df_1 = pd.read_csv('Data/data_grp_1/zippedData/tn.movie_budgets.csv.gz')
df_1.head(20)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"
10,11,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
11,12,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347"
12,13,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115"
13,14,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100"
14,15,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240"
15,16,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230"
16,17,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413"
17,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281"
18,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
19,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767"